importFrom("Kendall", MannKendall)
importFrom("fitdistrplus", fitdistcens)
export(gendate,genranges,genloq,genoutlier,genhistogram,genpastoact,genanaggr,genplot,genstatistic,gentransform,genwhisker)